<b>Id: </b>
<%= link_to user.id, user_path(user) %>
<br />

<b>Email: </b>
<%= user.email %>
<br />

<b>Confirmation: </b>
<%= user.confirmed? %>
<br />

<b>Sign in count: </b>
<%= user.sign_in_count %>
<br />

<b>Current sign in at: </b>
<%= user.current_sign_in_at %>
<br />

<b>Last sign in at: </b>
<%= user.last_sign_in_at %>
<br />

<b>Current sign in ip: </b>
<%= user.current_sign_in_ip %>
<br />

<b>Last sign in ip: </b>
<%= user.last_sign_in_ip %>
<br />

<b>Locked at: </b>
<%= user.locked_at %>
<br />

<b>Roles: </b>
<%= user.active_roles.join(", ") %>
<br>

<% if user.created_by_invite? %>
  <b>Invited by: </b>
  <%= user.invited_by %>
  <br>

  <b>Invitation accepted?: </b>
  <%= user.invitation_accepted? %>
  <br>

  <% if current_user.admin? || user.invited_by == current_user %>
    <% if user.created_by_invite? && !user.invitation_accepted? && !user.confirmed? %>
      <%= link_to "Resend invitation", resend_invitation_user_path(user), method: :patch %>
    <% end %>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <%= link_to "Edit roles", edit_user_path(user) %>
  <% if !user.confirmed? && !user.created_by_invite? %>
    <%= link_to "Resend confirmation instructions", resend_confirmation_instructions_user_path(user), method: :patch %>
  <% end %>
  <%= link_to ban_status(user), ban_user_path(user), method: :patch %>
  <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure"} %>
<% end %>
